.hero {
    padding-bottom: 0;
    border-bottom: 2px solid $primary-light;

    @mixin atSmall {
        height: 90rem;
        background: red;
    }

    @mixin atLarge {
        height: 55rem;
        overflow: hidden;
        
    }

    &__left {
        order: 2;
        position: relative;
        height: 40rem;
        background-color: $font-light;

        @mixin atSmall {
            height: 50rem;
        }

        @mixin atLarge {
            order: 1;
            flex: 50%;
        }
    }

    &__left__overlay {
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: 12%;
        left: 12%;
        
        z-index: 2;
        /* dashed border */
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='orange' stroke-width='8' stroke-dasharray='14%2c 28%2c 30%2c 12' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
        @mixin atSmall {
            width: 25rem;
            height: 25rem;
            top: 50%;
            left: 50%;
            transform: translate(-75%,-75%);
        }

        @mixin atLarge {
            transform: translate(-75%,-80%);
        }
    }

    &__left__text {
        background-color: $white;
        height: 25rem;
        width: 25rem;
        position: absolute;
        top: 27%;
        left: 31%;
        z-index: 3;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @mixin atSmall {
            width: 30rem;
            height: 30rem;
            top: 50%;
            left: 50%;
            transform: translate(-30%,-35%);
        }

        @mixin atLarge {
            transform: translate(-30%,-45%);
            
        }
    }

    &__right {
        order: 1;
        height: 35rem;
        background: url('../../assets/imgs/main/food-12-med.jpeg') no-repeat center;
        background-size: cover;

        @mixin atSmall {
            height: 40rem;
        }

        @mixin atMedium {
            height: 45rem;
        }

        @mixin atLarge {
            order: 2;
            flex: 40%;
            height: 50rem;
        }
    }
}