.page-section {
    padding-top: 8rem;
    padding-bottom: 8rem;

    &--flex-col-center{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
        @mixin atLarge {
            flex-direction: row;
        }
    }


}