.btn {
    font-size: 1.3rem;
    cursor: pointer;
    text-transform: uppercase;
    padding: .8rem 1.2rem;
    transition: .5s ease-in-out;
    color: $font;
    position: relative;
    z-index: 5;
    border: 2px solid $primary;

    @mixin atLarge {
        font-size: 1.6rem;
        padding: 1.2rem 1.6rem;
    }

    &--fill:hover {
        color: $white;
        border: 2px solid $font;
    }

    &--fill::after {
        background: $font;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0);
        z-index: -1;
        transition: .3s ease-in-out;
    }

    &--fill:hover:after {
        transform: scale(1.05);
      }
    

    /* modifiers */
    &--orange {
        background-color: $primary;
        
    }
    &--shadow {
        box-shadow: 3px 3px 3px rgba(0,0,0,.3);
    }
    
    /* this will work when parent is set to flex column*/
    &--align-right{
        align-self: flex-end;
    }

}